@charset "utf-8";
/* CSS reset */
* {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
}
html,body{ font-family: "微软雅黑",arial;}
html, fieldset, img {
	border: none
}
ol, ul {
	list-style: none
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	outline: none;
	resize: none;
	font-family: "微软雅黑";
}
* html input, * html textarea, * html select, *+html input, *+html textarea, *+html select {
	font-size: 100%
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
	display: inline-block
}
* html.clearfix {
	height: 1%
}
.clearfix {
	display: block
}
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}
.shadow {
	background: #666;
	box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);
	filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2, MakeShadow=true, ShadowOpacity=0.2);
}
@media all and (min-width:0) {
.shadow {
	filter: none;
}
}
.mask {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: #000;
	opacity: 0.1;
	filter: alpha(opacity=10);
}
a {
	text-decoration: none
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: none
}
.fl {
	float: left
}
.fr {
	float: right
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}
.fb {
	font-weight: bold;
}
.ml10 {
	margin-left: 10px;
}
.ml56 {
	margin-left: 56px;
}
.pl10 {
	padding-left: 10px;
}
body {
	background:url("../images/body_bg.jpg") repeat-x;
         position: relative;
}
.mainBox{ width: 100%; height: 100%; position:absolute; z-index: -1;}
#mainBody{width:100%;height:100%;position:relative; margin-top: -87px;}
.cloud{position:absolute;top:0px;left:0px;width:100%;height:100%;background:url("../images/cloud.png") no-repeat;z-index:1;opacity:0.8;}     
#cloud2{z-index:3;}
#weather{border-radius:90px;width:150px;height:150px;position:absolute;left:55%;top:20px;z-index:2;}

.header {
	height: 87px;
	background:#fff;
        border-bottom: 1px solid #E4E4E4;
}
.headerInner {
	width: 1180px;
	height: 87px;
	margin: 0 auto;
	background: none;
	overflow: hidden;
}
.headerInner i {
  color: #ddd;
}
.logo {
	display: inline-block;
	float: left;
	height: 68px;
	padding-top: 14px;
        color: #A2E8ED;
}
.headerInner .logo img{
    display: inline-block;
    border: none;
    height: auto;
    float: left;
}
.headerInner .logo .logoText{
    float: left;
    padding-top: 20px;
    color: #B3DF26;
    font-size: 28px;
    
}

.footer {
	height: 47px;
	background: transparent;
	text-align: center;
}
.footerInner {
	width: 960px;
	margin: 0 auto;
	height: 30px;
	padding-top: 12px;
}
.footer .text {
	display: inline-block;
	height: 13px;
	padding: 0 25px;
	font-size: 11px;
	color: #fff;
	line-height: 13px;
}
.footer .rightLine {
	border-right: 1px solid #ffffff;
}
.loginCont {
	position: relative;
	width: 1180px;
	height: 605px;
	margin: 0 auto;
	overflow: hidden;
}
.adText {
	position: absolute;
	top: 150px;
	left: 300px;
	width: 300px;
}
.adText .text01 {
	display: inline-block;
	line-height: 46px;
	font-size: 24px;
	color: #004269;
	font-weight: bold;
}
.adText .text02 {
	display: inline-block;
	line-height: 46px;
	font-size: 16px;
	color: #000;
}
.adText .text03 {
	display: block;
	line-height: 20px;
	font-size: 12px;
	color: #77797b;
}
.loginBox {
	position: absolute;
	top: 96px;
	right: 62px;
	width: auto;
        background: none;
}
.loginBox .title {
	height: 30px;
	line-height: 30px;
	color: #FFF;
	text-align: center;
        font: 18px/28px tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
}
.loginCont .input{
    font-size: 14px;
    color: #fff;
    padding: 8px 8px 9px;
}
.inputBox2 {
	position: relative;
	height: 35px;
	background-color: transparent;
	border:1px solid #5E5E5E;
	border-radius: 4px;
}
.inputBox2.focus {
	background: url(../images/loginInputBg.png) 0 0 repeat-x #fbfdff;
	border: 1px solid #b2bdcd;
}
.inputBox2 label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 9px 4px 8px;
	font-size: 14px;
	color: #5a6e82;
	line-height: 18px;
}



.inputBox {
	position: relative;
	height: 38px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	/*float: left;
	margin-right: 5px;*/
}
.inputBox.focus {
	background: url(../images/loginInputBg.png) 0 0 repeat-x #fbfdff;
	border: 1px solid #b2bdcd;
}
.inputBox label {
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	padding: 5px 4px;
	font-size: 14px;
	color: #5a6e82;
	line-height: 18px;
}

.mail-text {
	font-size: 16px;
	color: #c2c2c2;
	line-height: 18px;
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	padding: 9px 8px 8px;
}
.input {
	height: 18px;
	padding: 8px 4px 9px;
	border: none;
	background: none;
	line-height: 18px;
	font-size: 16px;
	color: #6781a2;
}
.inputBox input {
	height: 26px;
	line-height: 26px;
	padding: 6px;
	border: none;
	background: none;
	font-size: 14px;
	color: #6781a2;
}
.placeholder {
	color: #5a6e82;
	line-height: 18px;
	font-size: 16px;
}
.loginBox .loginBg{
    background: #000;
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity:0.1;
    opacity: 0.7; 
    display: block;
    width: 100%;
    height:100%;
    overflow: hidden;
      position: absolute;
}
.loginBox .loginC{
    display: block;
    overflow: hidden;
    margin:25px 25px 10px;
    position: relative;
    z-index: 5;
    width: 250px;
    font-family: "微软雅黑";
}
.loginBox dd {
	padding-bottom: 13px;
}
.loginBox dd.checkcode {
	overflow: hidden;
	height: 37px;
	line-height: 37px;
}
.loginBox dd.checkcode a {
	color: #2c95b5;
}
.loginBox dd.checkcode img{
    float: left;
    margin-right: 2px;
    height: 33px;
    width: 80px;
    margin-left: 10px;
    margin-top: 1px;
}
.loginBox dd.checkcode .inputBox2 {
	width: 102px; 
	float:left; 
	margin-right: 4px;
}
.loginBox dd.checkcode .input {
	width: 84px;
}
.loginBox dd.error {
	padding: 0px 0 0;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #E14A47;
}
span.errorMsg {
	line-height: 24px;
	font-size: 12px;
	color: #FF9000;
}
.loginBtn {
	display: inline-block;
	width: 130px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
        background: #B3DF26;
	margin-top: 0px;
	border: none;
}
.loginBtn:hover {
	text-decoration: none;
        background: #CAF347;
}
.loginBtn.false{
    background: #DEDEDE;
    text-shadow: 1px 1px 0 #FFF;
    color: #A2A2A2;
    cursor: no-drop;
}

.checkbox {
	display: inline-block;
	height: 26px;
	text-indent: 4px;
	background: url(../images/checkbox.png) 0 3px no-repeat;
	font-size: 14px;
	color: #A0C3D7;
}
.checkbox input{
	filter: alpha(opacity=0);
	opacity: 0;
}
.checked {
	background-position: 0 -23px;
}
.forgetPwd,.register {
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
	color: #A0C3D7;
	margin-left: 20px;
}

.register {
    color:#fff;
}

.form-text {
	display: block;
	position: relative;
	z-index: 10;
	margin: 0 4px;
	height: 20px;
	border-width: 0;
	background: transparent;
	line-height: 20px;
	font-size: 14px;
	color: #4f4f4f;
}

.w110 {
	width: 110px;
}
.w110 .input {
	width: 102px;
}
.w370 {
	width: 370px;
}
.w370 .input {
	width: 362px;
}
.dialog {
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	display: none;
}
.dialog .shadow {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
}
.dialog b.bgTL, .dialog b.bgTR, .dialog b.bgBL, .dialog b.bgBR {
	position: absolute;
	z-index: 3;
	display: block;
	width: 4px;
	height: 4px;
	background: url(../images/dialog_corner.png) no-repeat;
	overflow: hidden;
}
.dialog b.bgTL {
	top: 0;
	left: 0;
	background-position: 0 0;
}
.dialog b.bgTR {
	top: 0;
	right: 0;
	background-position: -4px 0;
}
.dialog b.bgBL {
	bottom: 0;
	left: 0;
	background-position: 0 -4px;
}
.dialog b.bgBR {
	bottom: 0;
	right: 0;
	background-position: -4px -4px;
}
.dialogBorder {
	position: relative;
	z-index: 2;
	border: 1px solid #b0b1b2;
	background: #f1f6f8;
}
.dialogBox {
	position: relative;
	padding-bottom: 20px;
}
.dialogHeader {
	border-bottom: 1px solid #7d9697;
	height: 16px;
	padding: 8px;
	background: url(../images/dialog_header_bg.png) repeat-x;
	overflow: hidden;
}
.dialogHeader .title {
	float: left;
	display: inline-block;
	line-height: 16px;
	color: #bdbfbf;
	font-size: 14px;
	font-weight: bold;
}
.dialogHeader .close {
	float: right;
	display: inline-block;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../images/dialog_close.png) no-repeat;
}
.dialogBody {
	padding: 0 30px;
	overflow: hidden;
}
.dialogBottom {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 28px;
	padding: 6px 30px;
}
.dialogBottom .btn {
	margin-left: 8px;
}
.dialogBottom .btn .text {
	width: 60px;
}
.dialogBottom .long .text {
	width: auto;
}
.infoTable td {
	font-size: 13px;
	color: #4f4f4f;
	padding-bottom: 10px;
}
.infoTable th {
	color: #4f4f4f;
	width: 6em;
	font-size: 13px;
	text-align: right;
        height: 40px;
        line-height: 40px;
        display: inline-block;
}
.btn {
	display: inline-block;
	position: relative;
	height: 20px;
	background: url(../images/btn_bg.png) 0 -90px no-repeat;
	padding: 4px;
}
.btn:hover {
	background-position: 0 -118px;
	text-decoration: none;
}
.btn span {
	cursor: pointer;
}
.btn.disable {
	cursor: default;
	filter: alpha(opacity=30);
	opacity: 0.3;
	text-decoration: none;
}
.btn.disable span {
	cursor: default;
}
.btn .bgR {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	width: 4px;
	height: 28px;
	background: url(../images/btn_bg.png) right -90px no-repeat;
	overflow: hidden;
}
.btn:hover .bgR {
	background-position: right -118px;
}
.btn .text {
	display: inline-block;
	padding: 0 6px;
	font-size: 13px;
	letter-spacing: normal;
	line-height: 20px;
	color: #707274;
	text-align: center;
}
.yes {
	background: url(../images/btn_bg.png) 0 0 no-repeat;
}
.yes:hover {
	background-position: 0 -28px;
}
.yes .bgR {
	background: url(../images/btn_bg.png) right 0 no-repeat;
}
.yes:hover .bgR {
	background-position: right -28px;
}
.yes .text {
	color: #fff;
}
.D_forgetPwd {
	width: 478px;
}
.D_forgetPwd .dialogBody {
	padding: 20px 20px 40px;
}
.D_forgetPwd .text01 {
	display: block;
	line-height: 20px;
	font-size: 13px;
	color: #5f6060;
	padding-bottom: 10px;
}
.changeCode {
	display: inline-block;
	line-height: 28px;
	font-size: 13px;
	color: #6781a2;
}
.code {
	/*float: left;*/
	margin-left: 5px;
}

a
{
	cursor:pointer;
}