<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<h2><a  class="back">欢迎使用全时云企</a></h2>
   <div class="msg-content">
   		<div class="send-info">
        发送人：全时 <br />
		时间：2013年5月15日 17:35  星期三
        </div>
        <div class="msg-main">
        	<p>尊敬的客户，您好</p>
		  	<p>欢迎使用全时云企，了解详细信息请点击下面链接<br />
		    <a >http://www.quanshi.com</a></p>
        </div>
   </div>
</body>
</html>
